<p><%= flash.notice %></p>
<h1>Login</h1>
  <%= form_tag '/login', class: 'ui form' do %>
    <%= label :username, 'Username' %>
    <%= text_field_tag :username, '', class: 'login-input' %>
    <%= label :password, 'Password' %>
    <%= password_field_tag :password, '', class: 'login-input' %>
    <%= submit_tag "Login", class: 'ui button' %>
  <% end %>
<br>
<p><%= link_to 'Create new user', new_user_path %></p>
