<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%= link_to @discussion.category.title, category_path(@discussion.category) %> > <%= @discussion.title %>
    <ul>
      <% @discussion.posts.each do |pst| %>

        <li><%= pst.content %></li>
        <li><%= link_to pst.user.username, user_path(pst.user) %></li><br>
      <% end %>
    </ul>

    <% if cookies[:user_id] %>
      <%= render partial: "layouts/new_post", locals: { post: Post.new, disc_id: @discussion.id, user_id: cookies[:user_id] } %>
    <% end %>

    <%= link_to 'See all Discussions in this Category', category_path(@discussion.category) %><br>

    <%= link_to 'See all Categories', categories_path %><br>

  </body>
</html>
