<div class='main ui container'>
  <div class="ui raised segment">
    <div class="ui right rail">
      <div class='ui segments' id='thread-right-rail'>
        <div class="ui segment">
          Posts: <%= @discussion.posts.count %>
        </div>
        <div class="ui segment">
          Users in this thread: <%= @discussion.users.uniq.count %>
        </div>
        <div class="ui segment">
          Average seconds between posts: <%= @discussion.avg_tm_btwn_posts %>
        </div>
        <div class="ui segment">
          Average length of posts: <%= @discussion.avg_post_length %>
        </div>
        <div class='ui segment'>
          Page views: <%= @discussion.hits %>
        </div>
      </div>
    </div>
    <h1><%= link_to 'All', categories_path %> > <%= link_to @discussion.category.title, category_path(@discussion.category) %> > <%= @discussion.title %></h1>
  </div>

  <% post_count = 0 %>
  <% @discussion.posts.each do |pst| %>
    <% post_count += 1 %>
    <div class='ui raised segments'>
      <div class='ui segment'>
        <%= '# ' + post_count.to_s %><br>
        <%= pst.content.reading_time :format => :long %>
      </div>
      <div class='ui segment'>
        <p><%= pst.content %></p>
      </div>
      <div class='ui secondary segment'>
        <div class='post_author'>By: <img class="ui avatar image" src=<%= pst.user.profile_image_url %>> <%= link_to pst.user.username, user_path(pst.user) %>
          <% if cookies[:user_id].to_i == pst.user_id %>
            <%= link_to "(delete post)", pst, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>


<% if cookies[:user_id] %>
  <%= render partial: "layouts/new_post", locals: { post: Post.new, disc_id: @discussion.id, user_id: cookies[:user_id] } %>
<% end %>

</div>
