<p><%= link_to @discussion.category.title, category_path(@discussion.category) %> > <%= @discussion.title %></p>

<p>Total number of posts in thread: <%= @discussion.posts.count %></p>
<p><%= pluralize(@discussion.users.uniq.count, 'person') %> have posted in this thread</p>
<p>Average seconds between posts: <%= @discussion.avg_tm_btwn_posts %></p>
<p>Average length of posts: <%= @discussion.avg_post_length %> characters</p>

<ul>
  <% @discussion.posts.each do |pst| %>

    <li><%= pst.content %></li>
    <li><%= link_to pst.user.username, user_path(pst.user) %></li><br>

    <% if cookies[:user_id].to_i == pst.user_id %>
      <li><%= link_to "Delete Post", pst, method: :delete %></li>
    <% end %>
  <% end %>
</ul>

<% if cookies[:user_id] %>
  <%= render partial: "layouts/new_post", locals: { post: Post.new, disc_id: @discussion.id, user_id: cookies[:user_id] } %>
<% end %>

<%= link_to 'See all Discussions in this Category', category_path(@discussion.category) %><br>

<%= link_to 'See all Categories', categories_path %><br>

<p>Number of page views: <%= @discussion.hits %></p>
