<div class='ui container'>
  <div class='ui segment'>
    <h1><%= @user.username %></h1>
  </div>
  <div class='ui segment'>
    <div class='ui ribbon label'>Details</div>
    <% if cookies[:user_id].to_i == @user.id %>
      <%= link_to "Edit User", edit_user_path(@user) %> <br>
    <% end %>

    <img class="ui small circular image pad-down" src="<% if @user.profile_image_url %>
      <%= @user.profile_image_url %>
    <% end %>">

    <% if @user.name %>
      <h4 class='pad-down'>Real Name:</h4> <%= @user.name %>
    <% end %>

    <% if @user.birthdate %>
      <h4>Birth Day:</h4> <%= @user.birthdate %>
    <% end %>

    <% if @user.bio %>
      <h4>Bio:</h4>
      <p><%= @user.bio %></p>
    <% end %>
  </div>

  <div class='ui segment'>
    <h3>Total posts: <%= @user.posts.length %></h3>

    <h3>Recent Posts</h3>
    <ul>
      <% @recents.each do |pst| %>
        <li>
          <%= link_to pst.discussion.category.title, category_path(pst.discussion.category) %> > <%= link_to pst.discussion.title, discussion_path(pst.discussion) %><br>
          <%= pst.updated_at.strftime('%m/%d/%Y at %I:%M') %> - <%= pst.content[0..50] + '...' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
