<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>User Details</h1>
    <h3>Name: <%= @user.name %></h3>
    <h3>Username: <%= @user.username %></h3>
    <h3>Bio:</h3>
    <p><%= @user.bio %></p>

    <h3>Total number of posts: <%= @user.posts.length %></h3>

    <h3>Recent Posts</h3>
    <ul>
      <% @recents.each do |pst| %>
        <li>
          <%= link_to pst.discussion.category.title, category_path(pst.discussion.category) %> > <%= link_to pst.discussion.title, discussion_path(pst.discussion) %><br>
          <%= pst.updated_at.strftime('%m/%d/%Y %I:%M') %> - <%= pst.content[0..50] + '...' %>
        </li>
      <% end %>
    </ul>

    <%= link_to "See all categories", categories_path %>

  </body>
</html>
