<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create New Post</h1>
    <%= form_for @post do |f| %>
      <%= f.collection_select :user_id, User.all, :id, :username %>
      <%= f.collection_select :discussion_id, Discussion.all, :id, :title %>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <%= f.submit %>
    <% end %>
  </body>
</html>
