<div class='ui container'>
  <h1><%= link_to 'All', categories_path %> > <%= @category.title %></h1>
  <div class="ui relaxed divided list">
    <% @category.discussions.each do |dis| %>
      <div class="item">
        <div class="content">
          <a><%= link_to dis.title, discussion_path(dis), class: 'header' %></a>
          <div class="description">
            <b>Posts:</b> <%= dis.total_posts %> | <b>Users in this thread:</b> <%= dis.total_users %> | <b>Last Post:</b> <%= dis.last_post %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<% if cookies[:user_id] %>
  <%= render partial: "layouts/new_discussion", locals: { discussion: Discussion.new, cat_id: @category.id } %>
<% end %>

</div>
