<div class='ui container'>
  <h1><%= link_to 'All', categories_path %> > <%= @category.title %></h1>
  <div class="ui relaxed divided list">
    <% @category.discussions.each do |dis| %>
      <div class="item">
        <div class="content">
          <a><%= link_to dis.title, discussion_path(dis), class: 'header' %></a>
          <div class="description">
            Test
          </div>
      </div>
    <% end %>
  </div>

  <% if cookies[:user_id] %>
    <%= render partial: "layouts/new_discussion", locals: { discussion: Discussion.new, cat_id: @category.id } %>
  <% end %>

  <%= link_to 'See all Categories', categories_path %>
</div>
