<div class='ui form segment' id='new-post-entry'>
    <%= form_for post, :html => {class: 'ui input focus'} do |f| %>
      <%= f.hidden_field :user_id, value: user_id %>
      <%= f.hidden_field :discussion_id, value: disc_id %>
      <%= f.text_area :content %>
      <%= f.submit %>
    <% end %>
</div>
