<% if @user.errors.any? %>
  <p>Username already taken</p>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :birthdate %>
  <%= f.text_field :birthdate %><br>
  <%= f.label :bio %>
  <%= f.text_area :bio %><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>
