<!DOCTYPE html>
<html>
  <head>
    <title>CarForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="ui borderless main menu">
      <a><%= link_to 'CarForum', categories_path, class: 'item' %></a>
      <div class="item right">
        <% if cookies[:user_id] %>
          <div id='logged-in-text'>You are logged in as <%= link_to User.find(cookies[:user_id]).username, user_path(cookies[:user_id]) %></div>
          <div><%= link_to 'Logout', logout_path, class: 'ui button', method: 'delete' %></div>
        <% else %>
          <div><%= link_to 'Login', login_path, class: 'ui button' %></div>
        <% end %>
      </div>
    </div>
  </head>

  <body id='body-image'>
    <%= yield %>
  </body>
</html>
