<!DOCTYPE html>
<html>
  <head>
    <title>CarForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if cookies[:user_id] %>
      <h3>Welcome <%= User.find(cookies[:user_id]).username %></h3>
      <p><%= link_to 'Logout', logout_path, method: 'delete' %></p>
    <% else %>
      <p><%= link_to 'Login', login_path %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
